a {text-decoration:none; color:#000;}
a:hover {text-decoration: underline;}
aside article {width:200px; background: #666; color:#FFF}
aside {width:200px; height: 605px; background: #666; float:right; margin-top: -1px;}
article {width:400px; background: #CCC;}
article p {padding: 10px;}
footer {height: 40px; background: #09F; margin-top: -16px;}
footer p {padding: 10px 0 0 10px;}
html, body { margin:0; padding:0;}
header, hgroup, nav, section, article, aside, footer {display: block;}
hr {width: 380px}
header {height: 100px; background: #00C;}
hgroup h1 {color: #FFF; padding: 22px 0 0 20px;}
nav {width: 400px; height: 20px; background:#C66; margin-left: 200px;}
nav ul {margin: 0 0 0 -10px;}
nav li {float: left; list-style-type:none; padding: 0 10px;}
section {width:400px; background: #CCC; margin-top: -20px;}
hgroup h2 {color: #000; padding: 10px 0 0 10px;}
hgroup h3 {color: #fff; padding: 10px 0 0 10px;}
#wrapper {width: 600px; margin: 0 auto;}