@model Class15_Todo.Models.Todo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>
</head>
<body>
    <div>
        
        <form action="/create" method="post">
            <input type="type" name="name" value=" " />    
            
        </form>
    </div>
</body>
</html>
