
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <h1>@ViewBag.UnParametro</h1>
        <div>
              
 The view is responsible for providing the user interface (UI) to the user. It is given a reference to
 the model (the information the controller needs displayed), and the view transforms that model into
 a format ready to be presented to the user
            
            
            
            
            

        </div>
    </body>
</html>